# Server
PORT=5000
NODE_ENV=development

# MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=dc_prime

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7

# Gmail SMTP
EMAIL_USER=
EMAIL_PASS=

# Frontend URL (for reset password link)
CLIENT_URL=http://localhost:5173
